$font-family: 'AktivGrotesk';
$font-normal: normal;
$font-medium: 500;
$font-bold: bold;

$border: #E6E7EB;
$white: #ffffff;
$black: #000000;
$dark: #0A0E35;
$blue: #005EFF;
$blue-1: #052776;
$blue-2: #0A0E35;
$blue-3: #B1EAFC;
$blue-4: #0A0E35;

$desktop: 1920px;
$desktop-sm: 1368px;
$tablet-h: 1024px;
$tablet-v: 768px;
$phone: 648px;
