@import "../base/base";

footer {
    display: flex;
    flex-direction: column;
    background: $white;
    position: relative;
    overflow: hidden;
    margin-top: 10rem;
    padding: 0 10rem 10rem;

    @media only screen and (max-width: $desktop-sm) {
        padding: 0 4rem 10rem;
     }

     @media only screen and (max-width: $tablet-h) {
        padding: 0 2rem 6rem;
    }

    nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        border-top: solid #f2f2f2 .1rem;
        padding-top: 8rem;

        @media only screen and (max-width: $tablet-h) {
            flex-direction: column;
            gap: 6rem;
            padding-top: 4rem;
        }

         div {
            @media only screen and (max-width: $tablet-v) {
                width: 100%;
             }
         }

        .logo {
            width: 26rem;
        }

        .right {
            display: flex;
            gap: 40rem;
            position: relative;
            
            &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: url(/assets/images/main/brand-icon.svg) no-repeat right top; 
                filter: grayscale(1);  
                opacity: .05;
            }

            @media only screen and (max-width: $tablet-h) {
               flex-direction: column;
               gap: 6rem;
             }

            .menu {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;

                li {
                    a {
                        font-size: 2.4rem;
                        color: $dark;
                        @include fade-transition;
           
                        @media only screen and (max-width: $desktop) {
                            font-size: 1.8rem;
                        }

                        &:hover {
                            color: $blue;
                            @include fade-transition;
                        }
                    }
                }
            }

            .newsletter-social {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;

                form {
                    width: 42rem;
                    gap: 2rem;
            
                    span {
                        font-size: 2.4rem;
                        display: block;
            
                        @media only screen and (max-width: $desktop) {
                            font-size: 1.8rem;
                         }
                    }
            
                    .form-item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        border-radius: 1rem;
                        background: #F7F9FF;
                        padding: 0 2rem;
                        height: 7rem;
                        justify-content: space-between;
            
                        
                        @media only screen and (max-width: $desktop) {
                            font-size: 1.6rem;
                         }
            
                        input {
                            border: none;
                            background: none;
                            font-size: 1.8rem;
                        }
                    }
            
                    .button {
                        width: 5rem;
                        padding: 0;
                        border: none !important;
                    }
                 }

                .social {
                    display: flex;
                    gap: 1rem;
        
                    li {
                        a {
                            width: 4rem;
                            height: 4rem;
                            background: $blue;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 100%;
                            @include fade-transition;
    
                            &:hover {
                                @include fade-transition;
                                background: $blue-1;
                            }
                            
                            svg {
                                width: 2rem;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 10rem;
        position: relative;

        @media only screen and (max-width: $tablet-h) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            @media only screen and (max-width: $tablet-h) {
                gap: 2rem;
            }

            .email {
                font-size: 2.2rem;
                color: $dark;
                @include fade-transition;

                &:hover {
                    @include fade-transition;
                    color: $blue;
                }
    
                @media only screen and (max-width: $desktop) {
                    font-size: 1.8rem;
                }
            }

            ul {
                display: flex;
                gap: 2rem;

                @media only screen and (max-width: $tablet-h) {
                    flex-direction: column;
                }

                li {
                    a {
                        font-size: 1.4rem;
                        color: $dark;
                        @include fade-transition;

                        &:hover {
                            @include fade-transition;
                            color: $blue;
                        }
                    }
                }
            }
        }

        .copyright {
            font-size: 1.6rem;
            color: #183B28;

            @media only screen and (max-width: $desktop) {
                font-size: 1.4rem;
            }
        }
    }
}