@import "../base/_base";


header {
  width: 100%;
  height: 10rem;
  position: absolute;
  top: 0;
  z-index: 999;
  transition: ease 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  z-index: 2;

  @media only screen and (max-width: $tablet-h) {
    padding:0 1rem;
    height: 8rem;
    background: rgba(#6d806d, .80);
 }

  &.scrollUp {
    transform: translateY(-10rem)
  }

  &.scrolled {
    background: #10450e;
  }

  .logo {
    position: relative;
    z-index: 1;
    @include fade-transition;

    img {
      width: 26rem;

      @media only screen and (max-width: $desktop) {
        width: 20rem;
     }  

     @media only screen and (max-width: $tablet-h) {
      width: 14rem;
   } 
    }
  }

  .icon {
    display: none;
    svg {
      width: 6rem;
      height: 6rem;
    }
    @media only screen and (max-width: $tablet-h) {
      display: flex;
   }
  }

  .hamburger-menu-item {
    display: flex;
    align-items: flex-start;

    @media only screen and (max-width: $tablet-h) {
      width: 6rem;
    }

    .text {
      line-height: 5rem;
      overflow: hidden;
      color: $white;
      font-weight: 1.8rem;

      @media only screen and (max-width: $tablet-h) {
        display: none;
      }

      // &.up-down {
      // transform: translateY(-2.5rem);
      // }
    }

    .mobile-menu {
      display: flex;
      height: 5rem;
      color: $white;
      font-size: 2rem;
      font-weight: $font-medium;
      align-items: center;
      gap: 1rem;
      overflow: hidden;
  
      .menu-button {
        position: relative;
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        #hamburger-menu {
          width: 2.6rem;
          height: 1rem;
          position: relative;
    
          span {
            opacity: 1;
            left: 0;
            display: block;
            width: 100%;
            height: .2rem;
            background: $white;
            position: absolute;
            transform: rotate(0deg);
            transition: .4s ease-in-out;
    
            &:nth-child(1) {
              top: 0;
            }
    
            &:nth-child(2) {
              top: .8rem;
            }
          }
    
          &.open {

            span {
              &:nth-child(1) {
                transform: translateY(4px) rotate(135deg);
              }
      
              &:nth-child(2) {
                transform: translateY(-4px) rotate(-135deg);
              }
            }
          }
        }
      }
    }   
  }
}


.main-menu {
  position: fixed;
  width: 50rem;
  height: 100%;
  background: $blue-1;
  right: -100%;
  top: 0;
  display: flex;
  z-index: 1;
  overflow: hidden;

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;
      display: flex;
      overflow: hidden;
      height: 8rem;
      flex-shrink: 0;

      @media only screen and (max-width: $desktop) {
        height: 8rem;
      }

      &:hover {
        a {
          color: $white;
          @include fade-transition;
          gap: 4rem;

          i {
            opacity: 1;
            visibility: visible;
            @include fade-transition;
          }
        }
      }
      a {
        display: flex;
        align-items: center;
        font-size: 2.2rem;
        color: $white;
        gap: 0;
        @include fade-transition;

        i {
          opacity: 0;
          visibility: hidden;
          @include fade-transition;
        }
      }
    }
  }

  .menu-wrapper {
    width: 100%;
    display: flex;

    .item {
      opacity: 1;
      visibility: visible;
    }

    .menu-content {
      flex: 1;
      padding: 20rem 6rem 6rem;
    }

  }
}
