@import "../base/_base";


header {
  height: 10rem;
  position: absolute;
  inset: 0 4.8rem auto;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  @include fade-transition;

  &:before {
    content: '';
    width: 100%;
    border-bottom: solid $white .1rem;
    position: absolute;
    bottom: 0;
  }

  @media only screen and (max-width: $tablet-h) {
    padding:0 1rem;
    height: 8rem;
    background: rgba(#6d806d, .80);
 }

  &.scrollUp {
    transform: translateY(-10rem)
  }

  &.scrolled {
    background: #10450e;
  }

  .logo {
    position: relative;
    z-index: 1;
    @include fade-transition;

    img {
      width: 26rem;

      @media only screen and (max-width: $desktop) {
        width: 20rem;
     }  

     @media only screen and (max-width: $tablet-h) {
      width: 14rem;
   } 
    }
  }

  .icon {
    display: none;
    svg {
      width: 6rem;
      height: 6rem;
    }
    @media only screen and (max-width: $tablet-h) {
      display: flex;
   }
  }

  nav {
    position: relative;
    z-index: 2;
  }

  .mobile-menu {
    display: flex;
    height: 5rem;
    align-items: center;
    gap: 1rem;
    overflow: hidden;

    .text {
      color: $white;
      font-size: 2rem;
      @include fade-transition;
    }

    .menu-button {
      position: relative;
      width: 5rem;
      height: 5rem;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      
      #hamburger-menu {
        width: 2.6rem;
        height: 1rem;
        position: relative;
  
        span {
          opacity: 1;
          left: 0;
          display: block;
          width: 100%;
          height: .2rem;
          background: $white;
          position: absolute;
          transform: rotate(0deg);
          @include fade-transition;

          &:nth-child(1) {
            top: 0;
          }
  
          &:nth-child(2) {
            top: .8rem;
          }
        }
  
        &.open {

          span {
            &:nth-child(1) {
              transform: translateY(4px) rotate(135deg);
            }
    
            &:nth-child(2) {
              transform: translateY(-4px) rotate(-135deg);
            }
          }
        }
      }
    }
  }  

  .menu-open {
    &.active {
      .menu-button {       
        #hamburger-menu {
          span {
            background: $blue-3;
            @include fade-transition;
          }
        }
      }

      .text {
        color: $blue-3;
        @include fade-transition;
      }
    }
  }
}

.main-menu {
  width: 60rem;
  position: fixed;
  height: 100vh;
  background: $blue-1;
  right: -60rem;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  visibility: hidden;
  padding: 22rem 6rem 6rem;
  @include fade-transition;

  .menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8rem;

    li {
      width: 50%;
      height: 7rem;
      overflow: hidden;
      display: flex;

      a {
        display: flex;
        align-items: center;
        font-size: 2.2rem;
        color: $white;
        gap: 1rem;
      }
    }
  }

  .social {
    width: 100%;
    display: flex;
    gap: 1.4rem;

    @media only screen and (max-width: $tablet-v) {
      justify-content: flex-start;
    }

    li {
      display: flex;
      overflow: hidden;
      height: 5rem;

      i {
        width: 5rem;
        height: 5rem;
        background: $blue;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        svg {
          width: 3rem;
          fill: $blue-1;
        }
      }
    }
  }
}