@import "../base/_base";


header {
  width: 100%;
  height: 10rem;
  position: absolute;
  top: 0;
  z-index: 999;
  transition: ease 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  z-index: 2;

  @media only screen and (max-width: $tablet-h) {
    padding:0 1rem;
    height: 8rem;
    background: rgba(#6d806d, .80);
 }

  &.scrollUp {
    transform: translateY(-10rem)
  }

  &.scrolled {
    background: #10450e;
  }

  .logo {
    position: relative;
    z-index: 1;
    @include fade-transition;

    img {
      width: 26rem;

      @media only screen and (max-width: $desktop) {
        width: 20rem;
     }  

     @media only screen and (max-width: $tablet-h) {
      width: 14rem;
   } 
    }
  }

  .icon {
    display: none;
    svg {
      width: 6rem;
      height: 6rem;
    }
    @media only screen and (max-width: $tablet-h) {
      display: flex;
   }
  }

  .hamburger-menu-item {
    display: flex;
    align-items: flex-start;

    @media only screen and (max-width: $tablet-h) {
      width: 6rem;
    }

    .text {
      line-height: 5rem;
      overflow: hidden;
      color: $white;
      font-weight: 1.8rem;

      @media only screen and (max-width: $tablet-h) {
        display: none;
      }

      // &.up-down {
      // transform: translateY(-2.5rem);
      // }
    }

    .mobile-menu {
      display: flex;
      height: 5rem;
      color: $white;
      font-size: 2rem;
      font-weight: $font-medium;
      align-items: center;
      gap: 1rem;
      overflow: hidden;
  
      .menu-button {
        position: relative;
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        #hamburger-menu {
          width: 2.6rem;
          height: 1rem;
          position: relative;
    
          span {
            opacity: 1;
            left: 0;
            display: block;
            width: 100%;
            height: .2rem;
            background: $white;
            position: absolute;
            transform: rotate(0deg);
            transition: .4s ease-in-out;
    
            &:nth-child(1) {
              top: 0;
            }
    
            &:nth-child(2) {
              top: .8rem;
            }
          }
    
          &.open {

            span {
              &:nth-child(1) {
                transform: translateY(4px) rotate(135deg);
              }
      
              &:nth-child(2) {
                transform: translateY(-4px) rotate(-135deg);
              }
            }
          }
        }
      }
    }   
  }
}

.main-menu {
  width: 50rem;
  position: fixed;
  height: 100vh;
  background: $blue-1;
  right: -50rem;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  visibility: hidden;
  padding-top: 22rem;
  @include fade-transition;

  ul {
    display: flex;
    flex-direction: column;

    li {
      height: 6rem;
      overflow: hidden;
      display: flex;

      a {
        display: flex;
        align-items: center;
        font-size: 2.2vw;
        color: $dark;
      }
    }
  }

  .menu-bottom {
    margin-top: 4rem;
    width: 100%;
    display: flex;

    @media only screen and (max-width: $tablet-v) {
      flex-direction: column;
    }

    .item {
      display: flex;
      align-items: center;
      height: 6rem;
      overflow: hidden;
      opacity: 0;
      transform: translateY(60px);
      border-top: solid  #aab5ba .1rem;

      @media only screen and (max-width: $tablet-v) {
        border: none;
        height: 4rem;
      }

      &:nth-of-type(2) {
        width: 100%;
        margin-left: auto;

        @media only screen and (max-width: $tablet-v) {
          margin-left: 0;
        }
      }

      span {
        width: 60rem;
        font-size: 1.4rem;
        color: $black;

        @media only screen and (max-width: $tablet-h) {
          width: 100%;
          font-size: 1.2rem;
        }
      }

      .social {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1.4rem;

        @media only screen and (max-width: $tablet-v) {
          justify-content: flex-start;
        }

        li {
          i {
            &.x {
              svg {
                width: 2.6rem;
              }
            }

            svg {
              width: 3rem;
              fill: #032334;
            }
          }
        }
      }
    }
  }
}