
$font-family: 'AktivGrotesk';
$font-normal: normal;
$font-medium: 500;
$font-bold: bold;


@font-face {
    font-family: 'AktivGrotesk';
    src: url('../fonts/AktivGrotesk-Bold.woff2') format('woff2'),
        url('../fonts/AktivGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('../fonts/AktivGrotesk-Medium.woff2') format('woff2'),
        url('../fonts/AktivGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('../fonts/AktivGrotesk-Regular.woff2') format('woff2'),
        url('../fonts/AktivGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
