@import "../base/base";
@import "../common/buttons";
@import "../common/typography";
@import "../common/grid";


.product-slider {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-top: 10rem;
    width: 100%;

    @media only screen and (max-width: $tablet-h) {
        margin-top: 0rem;
     }

    h2 {
        font-size: clamp(4.6rem, 12vw, 5.2rem);
        font-weight: $font-medium;
        color: #029F01;
        margin-bottom: 4rem;
        letter-spacing: -1.4px;

        @media only screen and (max-width: $tablet-h) {
            font-size: 4rem;
         }
    }

    .slider {
        width: 100%;
        overflow: hidden;
        padding-bottom: 10rem;
        
        .swiper-wrapper {
            .swiper-slide {
                margin-bottom: 4rem;
                border: solid rgba(#142828, .20) .1rem;
                padding: 2rem 2rem 2rem;
                overflow: hidden;

                &.item {
                    display: flex;
                    flex-direction: column;
        
                    figure {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @media only screen and (max-width: $tablet-v) {
                            height: 30rem;
                        }
        
                        img {
                            max-width: 26rem;
                            
                            @media only screen and (max-width: $tablet-v) {
                                max-width: 24rem;
                            }
                        }
                    }
        
                    .caption {
                        padding-top: 2rem;

                        @media only screen and (max-width: $tablet-v) {
                            max-width: 80%;
                        }

                        span {
                            font-size: clamp(1.6rem, 12vw, 1.8rem);
                            letter-spacing: -0.7125px;
                            font-weight: $font-medium;
                            height: 4rem;
                            color: #142828;

                            sup {
                                vertical-align: bottom;
                                line-height: 1;
                            }
                        }
                        p {
                            font-size: clamp(1.6rem, 12vw, 2rem);
                            letter-spacing: -0.7125px;
                        }
                    }
                }
                
                i {
                    width: 5rem;
                    height: 5rem;
                    background: #029F01;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: auto;
                    cursor: pointer;
                    z-index: 1;
                    @include fade-transition;

                    svg {
                        width: 2rem;
                        transform: rotate(0deg);
                        fill: $white;
                        @include fade-transition;
                    }

                    &.active {
                        // svg {
                        //     @include fade-transition;
                        //     transform: rotate(45deg);
                        // }
                        background: $white;
                        
                        svg {
                            fill: #029F01;
                        }
                    }
                }
                
                .product-info {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background: #029F01;
                    padding: 10rem 2rem 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    top: 0;
                    right: -100%;
                    transition: right 0.5s ease;

                    &.active {
                        right: 0;
                    }
                    
                   .info {
                    display: flex;
                    height: 25rem;
                    overflow: auto;
                   }

                   p {
                        font-size: 1.4rem;
                        line-height: 1.4;
                        color: $white;
                        overflow: auto;              
                    }

                    sup {
                        vertical-align: bottom;
                        line-height: 1;
                    }

                    span {
                        font-size: 2.2rem;
                        color: $white;
                    }
                }
            }
        } 
        
        .slide-control {
            fill: $dark;
        }
    }
}


.slide-control  {
    width: 14rem;
    height: 4rem;
    position: relative;

    @media only screen and (max-width: $tablet-v) {
        display: none;
    }
}

.swiper-button-next, .swiper-button-prev {
    width: 5rem !important;
    padding: 0;
    color: $dark !important;

    &:after {
        display: none;
    }

    svg {
        width: 6rem;
    }
}


