@import "../base/base";

.button {
    width: fit-content;
    height: 6rem;          
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:0 4rem;
    border-radius: 100vmax;
    color: $white;
    font-weight: $font-medium;
    font-size: 2rem;
    cursor: pointer;
    @include fade-transition;

    &.primary {
        
    }

    &.border {
        border: solid $dark .1rem;
        color: $dark;
        background: none;
        
        &:hover {
            
            
            @include fade-transition;
        }

        &.small {
            height: 3rem;
            font-size: 1.6rem;
            padding: 0 2rem;
        }
    }
}

.button-underline {
    width: max-content;
    font-size: 2rem;
    height: 6rem;
    display: flex;
    align-items: center;
    @include fade-transition;

    &:hover {
        @include fade-transition;
        opacity: .5;
    }

    &.light {
        color: $white;
        border-bottom: solid $white .1rem;
    }

    &.dark {
        color: $dark;
        border-bottom: solid $dark .1rem;
    }
}