
@import "../base/base";
@import "slider";

.projects-cards {
    margin: 10rem 0;

    &.row {
        gap: 10rem 4rem;

        @media only screen and (max-width: $desktop) {
            gap: 10rem 2rem;
        }
    }

    .item {
        position: relative;

        &:hover {
            figure {
                figcaption {
                    background: $blue;
                    padding: 6rem 4rem;
                    @include fade-transition;
                }
            }
        }

        figure {
            img {
                height: 80rem;
                object-fit: cover;

                @media only screen and (max-width: $desktop) {
                    height: 70rem;
                }
            }

            figcaption {
                display: flex;
                flex-direction: column;
                padding: 4rem;
                gap: 2rem;
                color: $white;
                background: $blue-4;
                @include fade-transition;
                position: absolute;
                inset: auto 0 0;

                span {
                    font-size: 3.2rem;

                    @media only screen and (max-width: $desktop) {
                        font-size: 2.4rem;
                    }
                }

                p {
                    font-size: 2rem;

                    @media only screen and (max-width: $desktop) {
                        font-size: 1.8rem;
                    }
                }

                svg {
                    fill: $white;
                }
            }
        }
    }
}

.image-card {
    position: relative;
    margin: 12rem 0 0;

    figure {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
             
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: rgba($black, .20);
            z-index: 1;
        }
        
        img {
            height: 90rem;

            @media only screen and (max-width: $desktop) {
                height: 70rem;
            }
        }

        figcaption {
            width: 56rem;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            z-index: 2;
            color: $white;
            text-align: center;

            span {
                font-size: 6rem;

                @media only screen and (max-width: $desktop) {
                    font-size: 3.4rem;
                }
            }

            p {
                font-size: 2rem;

                @media only screen and (max-width: $desktop) {
                    font-size: 1.6rem;
                }
            }
        }
    }
}