
@import "../base/base";
@import "slider";


.start-image  {
    height: 100vh;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba($black, .40);
        z-index: 1;
    }

    figure {
        
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

    &.type-1 {
        .caption {
            inset: 14rem 10rem 10rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media only screen and (max-width: $desktop) {
                max-width: 90rem;
            }
    
            @media only screen and (max-width: $tablet-v) {
                inset: 12rem 2rem 10rem;
            }
        }
    }

    .caption {
        max-width: 120rem;
        position: absolute;
        inset: auto 10rem 10rem;
        z-index: 2;

        @media only screen and (max-width: $desktop) {
            max-width: 90rem;
        }

        @media only screen and (max-width: $tablet-v) {
            inset: auto 2rem 10rem;
        }

        small {
            font-size: 2rem;
            color: $white;
            position: relative;
            margin-bottom: 3rem;
            display: flex;
            align-items: center;
            gap: 1.5rem;

            @media only screen and (max-width: $tablet-h) {
                font-size: 1.6rem;
            }

            &::before {
                content: ' ';
                width: .5rem;
                height: .5rem;
                background: $white;
                border-radius: 1rem;
            }
        }

        span {
            font-size: 9.4rem;
            color: $white;
            margin-bottom: 8rem;
            display: block;

            @media only screen and (max-width: $desktop) {
                font-size: 7.2rem;
            }

            @media only screen and (max-width: $desktop-sm) {
                margin-bottom: 4rem;
            }
            
            @media only screen and (max-width: $tablet-h) {
                font-size: 4.6rem;
            }

            @media only screen and (max-width: $tablet-v) {
                font-size: 3.4rem;
                margin-bottom: 2rem;
            }
        }

        p {
            font-size: 4rem;
            color: $white;

            @media only screen and (max-width: $desktop) {
                font-size: 2.4rem;
            }
        }
    }

    .button-content {
        width: 7rem;
        padding: 0 2rem;
        font-size: 2rem;
        background: $blue;
        color: $white;
        writing-mode: vertical-rl;
        display: flex;
        align-items: center;
        padding: 6rem 0;
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;

        @media only screen and (max-width: $tablet-h) {
            display: none;
        }
    }

    .breadcrumb {
        display: flex;
        gap: 2rem;
        margin-bottom: 6rem;

        li {

            a, span {
                font-size: 2rem;
                color: $white;
                display: flex;
                align-items: center;
                gap: 1rem;

                @media only screen and (max-width: $tablet-v) {
                    font-size: 1.6rem;
                }
            }
        }
    }

    .buttons {
        display: flex;
        gap: 1rem;
        margin-top: 4rem;

        li {
            a {
                display: flex;
                align-items: center;
                height: 6rem;
                padding: 0 6rem;
                color: $white;
                font-weight: $font-medium;
                border: solid $white .1rem;
                font-size: 2rem;
                @include fade-transition;

                @media only screen and (max-width: $desktop) {
                    height: 5rem;
                    padding: 0 4rem;
                    font-size: 1.6rem;
                }

                &:hover {
                    @include fade-transition;
                    background: $blue;
                    border: solid $blue .1rem;
                }
            }
        }
    }
}

.projects-cards {
    margin: 10rem 0;

    &.row {
        gap: 10rem 4rem;

        @media only screen and (max-width: $desktop) {
            gap: 4rem 2rem;
        }
    }

    .item {
        position: relative;

        &:hover {
            figure {
                figcaption {
                    background: $blue;
                    padding: 6rem 4rem;
                    @include fade-transition;

                    @media only screen and (max-width: $tablet-h) {
                        padding: 4rem 3rem;
                    }
                }
            }
        }

        figure {
            img {
                height: 80rem;
                object-fit: cover;

                @media only screen and (max-width: $desktop) {
                    height: 70rem;
                }

                @media only screen and (max-width: $desktop-sm) {
                    height: 60rem;
                }

                @media only screen and (max-width: $tablet-v) {
                    height: 30rem;
                }
            }

            figcaption {
                display: flex;
                flex-direction: column;
                padding: 4rem;
                gap: 2rem;
                color: $white;
                background: $blue-4;
                @include fade-transition;
                position: absolute;
                inset: auto 0 0;

                @media only screen and (max-width: $tablet-h) {
                    padding: 2rem 3rem;
                }

                @media only screen and (max-width: $tablet-v) {
                    position: relative;
                }

                span {
                    font-size: 3.2rem;

                    @media only screen and (max-width: $desktop) {
                        font-size: 2.4rem;
                    }

                    @media only screen and (max-width: $tablet-v) {
                        font-size: 2.2rem;
                    }
                }

                p {
                    font-size: 2rem;
                    line-height: 1.4;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;

                    @media only screen and (max-width: $desktop) {
                        max-width: 36rem;
                        font-size: 1.8rem;
                    }

                    @media only screen and (max-width: $tablet-v) {
                        font-size: 1.6rem;
                    }
                }

                svg {
                    fill: $white;
                }
            }
        }
    }
}

.news-cards {
    margin: 10rem 0;

    @media only screen and (max-width: $tablet-h) {
        margin: 4rem 0;
    }

    &.row {
        gap: 6rem 4rem;

        @media only screen and (max-width: $desktop) {
            gap: 10rem 2rem;
        }

        @media only screen and (max-width: $tablet-h) {
            gap: 4rem 2rem;
        }
    }

    .item {
        position: relative;

        &:hover {
            figure {
                figcaption {
                    span {
                        color: $blue;
                        @include fade-transition;
                    }
                }
            }
        }

        figure {
            img {
                aspect-ratio: 1/1;
                object-fit: cover;

                @media only screen and (max-width: $desktop) {
                    height: 40rem;
                }
            }

            figcaption {
                display: flex;
                flex-direction: column;
                padding: 4rem 0;
                gap: 2rem;

                @media only screen and (max-width: $tablet-h) {
                    padding: 2rem 0;
                }
      
                @include fade-transition;

                span {
                    font-size: 3.2rem;
                    color: $dark;

                    @media only screen and (max-width: $desktop) {
                        font-size: 2.4rem;
                    }


                    @media only screen and (max-width: $tablet-h) {
                        font-size: 2.2rem;
                    }
                }

                .date {
                    font-size: 2rem;
                    color: $blue-1;
                    margin-top: 4rem;

                    @media only screen and (max-width: $desktop) {
                        font-size: 1.8rem;
                    }

                    @media only screen and (max-width: $tablet-h) {
                        font-size: 1.4rem;
                        margin-top: 0;
                    }
                }

                svg {
                    fill: $white;
                }
            }
        }
    }

    
}

.view-more {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gallery-cards {
    margin: 10rem 0;

    @media only screen and (max-width: $tablet-h) {
        margin: 4rem 0 6rem;
     }

    .item {
        position: relative;

        figure {
            img {
                height: 80rem;
                object-fit: cover;

                @media only screen and (max-width: $desktop) {
                    height: 60rem;
                }

                @media only screen and (max-width: $tablet-h) {
                    height: 40rem;
                 }
            }
        }
    }

    .swiper-button-prev, .swiper-button-next  {
        @media only screen and (max-width: $tablet-h) {
            display: none;
         }
    }
}

.image-card {
    position: relative;
    margin: 12rem 0 0;

    @media only screen and (max-width: $tablet-v) {
        margin: 6rem 0 0;
     }

    figure {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
             
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: rgba($black, .20);
            z-index: 1;
        }
        
        img {
            height: 90rem;
            object-fit: cover;

            @media only screen and (max-width: $desktop) {
                height: 70rem;
            }

            @media only screen and (max-width: $tablet-v) {
                height: 50rem;
            }
        }

        figcaption {
            max-width: 56rem;
            width: 100%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            z-index: 2;
            color: $white;
            text-align: center;
            padding: 0 2rem;

            span {
                font-size: 6rem;

                @media only screen and (max-width: $desktop) {
                    font-size: 3.4rem;
                }
            }

            p {
                font-size: 2rem;

                @media only screen and (max-width: $desktop) {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.card-items {
    display: flex;
    flex-direction: column;
    gap: 10rem;

    &.mt {
        margin-top: 10rem;
    }

    .items {
        display: flex;
        justify-content: space-between;
        gap: 20rem;

        @media only screen and (max-width: $desktop-sm) {
            gap: 10rem;
        }

        @media only screen and (max-width: $tablet-v) {
            flex-direction: column;
         }

        &:nth-child(even) {
            flex-direction: row-reverse;

            @media only screen and (max-width: $tablet-v) {
                flex-direction: column;
             }
        }

        .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .caption {
                max-width: 80rem;

                span {
                    font-size: 5rem;
                    margin-bottom: 4rem;
                    display: block;

                    @media only screen and (max-width: $desktop) {
                        font-size: 3.4rem;
                     }

                     @media only screen and (max-width: $tablet-h) {
                        font-size: 3rem;
                    }
                }
    
                p {
                    font-size: 2.2rem;
                    line-height: 1.4;
                    color: #545672;

                    @media only screen and (max-width: $desktop) {
                        font-size: 1.6rem;
                     }
                }
            }
        }

        figure {
            max-width: 46rem;
            flex-shrink: 0;

            @media only screen and (max-width: $tablet-h) {
                max-width: 36rem;
            }

            @media only screen and (max-width: $tablet-v) {
                max-width: 100%;
             }
        }
    }
}