
@import "../base/base";
@import "slider";


.split-line,
.split-parent,
.textanimated {
    overflow: hidden;
}

//Start
.start {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 10rem;

    &:before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba($dark, .40);
        z-index: 1;
    }

    @media only screen and (max-width: $tablet-v) {
        height: 70vh;
        margin-bottom: 6rem;
    }

    .button-content {
        width: 100%;
        padding: 0 2rem;
        font-size: 2rem;
        background: $blue;
        color: $white;
        writing-mode: vertical-rl;
        display: flex;
        align-items: center;
        padding: 6rem 0;
    }
}
