@import "../base/_base";


form {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 5rem;
        font-weight: $font-normal;
        margin: auto;
        padding-bottom: 4rem;
    }

    .row {
        gap: 2rem;
    }
    
    .form-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 3.2rem;

        @media only screen and (max-width: $tablet-h) {
            margin-bottom: 2.8rem
        }
    }

    span {
        font-size: 1.8rem;
    }

    label {
        font-size: 1.9rem;
        color: $dark;

        @media only screen and (max-width: $tablet-h) {
            font-size: 1.6rem;
        }
    }


    input,
    textarea {
        width: 100%;
        height: 6rem;
        padding-left: 1rem;
        font-size: 1.4rem;
        color: $dark;
        appearance: none;
        @include fade-transition;
        background: none;
        border: solid #E5EAE6 .1rem;

        &::-webkit-input-placeholder {
            /* Edge */
            color: #9D9DA4;
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #9D9DA4;
        }

        &::placeholder {
            color: #9D9DA4;
        }
    }

    textarea {
        font-family: $font-family;
        resize: none;
        padding-top: 2rem;
        overflow: hidden;
        min-height: 20rem;
        max-height: 20rem;
    }

    .select {
        position: relative;

       i {  
            width: 5rem;
            position: absolute;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            right: 0;  
        }

        select {
            appearance: none;
            -webkit-appearance: none;
            width: 100%;
            border: solid #E5EAE6 .1rem;
            color: #9D9DA4;
            cursor: pointer;
            font-size: 1.4rem;
            height: 6rem;
            padding-left: 1rem;
            position: relative; 
        }
    }

    .button-underline {
        margin-left: auto;
    }

    .bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: $tablet-v) {
            flex-direction: column;
        }
    }

    .select-check {
        display: flex;
    }

    .verification-code {
        max-width: 15rem;
        justify-content: end;
    }

    .button {
        @media only screen and (max-width: $tablet-v) {
            width: 100%;;
        }
    }
}

/*#region Checkbox */
.checkbox {
    display: flex;
    flex-grow: 1;
    align-content: center;
    align-items: center;
    height: 4rem;
    max-width: 60%;

    @media only screen and (max-width: $tablet-h) {
        height: auto;
        padding-bottom: 2rem;
    }

    @media only screen and (max-width: $tablet-v) {
        max-width: 100%;
    }

    .link {
        text-align: left;
        font-size: 1.5rem;

        a {
            color: $dark;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
        position: relative;

        &:checked {
            + :after {
                content: '';
                background: url(../images/main/check.svg) no-repeat center center;
                background-size: 1.6rem;
                position: absolute;
                top: 0;
                left: 0;
                width: 2.5rem;
                height: 100%;
                text-align: center;
            }

            + :before {
                border: solid $dark .1rem;
            }

            +label {
                color: $dark;
            }
        }
    }

    label {
        position: relative;
        cursor: pointer;
        color: #90989F;
        display: flex;
        align-items: center;
        margin: 0;

        @media only screen and (max-width: $tablet-h) {
            font-size: 1.6rem;
        }

        a {
            display: inline;
            color: $dark;
            text-decoration: underline;
            @include fade-transition;
            &:hover {
                
            }
        }

        &:before {
            width: 2.5rem;
            height: 2.5rem;
            flex-shrink: 0;
            flex-basis: 2.5rem;
            content: '';
            -webkit-appearance: none;
            border: solid #BCBFC5 .1rem;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 1rem;
            border-radius: .5rem;
        }
    }
}

