@import "../base/base";
@import "components";


.split-line,
.split-parent,
.textanimated {
    overflow: hidden;
}

//Start
.start {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 10rem;

    &:before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba($dark, .40);
        z-index: 1;
    }

    @media only screen and (max-width: $tablet-v) {
        height: 70vh;
        margin-bottom: 6rem;
    }

   #MuteButton {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;

    svg {
        width: 4rem;
        fill: $white;
    }
   }

   .scroll-down {
    position: absolute;
    inset: auto auto 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;

    svg {
        width: 4rem;

        @media only screen and (max-width: $tablet-v) {
            width: 2.8rem;

        }
    }
   }

    figure {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        img {
            object-fit: cover;
            height: 100vh;

            @media only screen and (max-width: $tablet-v) {
                height: 70vh;
                margin-bottom: 6rem;
            }
        }
    }

    .image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(2);

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba($dark, .30);
        }
    }

    .caption {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        inset: 0;
        z-index: 1;
        text-align: center;

        h1 {
            font-size: clamp(8rem, 12vw, 14rem);
            font-weight: $font-medium;
            line-height: 1;
            letter-spacing: -5.25px;
            color: $white;
        
            @media only screen and (max-width: $desktop) {
                font-size: clamp(4rem, 12vw, 7rem);
                letter-spacing: -2.25px;
             }

             @media only screen and (max-width: $tablet-h) {
                font-size: clamp(4.6rem, 12vw, 7rem);
            }

             @media only screen and (max-width: $tablet-v) {
                font-size: clamp(4.6rem, 12vw, 5rem);
            }
        }
    }

    .video {
        min-height: 100%;

        #video {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0.0;
            left: 0;
            -o-object-fit: cover;
            object-fit: cover;
            z-index: 1;
        }
    }
}

//Cards
.card-items {
    display:flex;
    width: 100%;
    flex-direction: column;
    gap: 4rem;
    padding: 0 10rem;

    @media only screen and (max-width: $desktop) {
        padding: 0 8rem;
    }

    @media only screen and (max-width: $tablet-v) {
        padding: 0;
        gap: 0;
    }

    .item {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10rem;

        @media only screen and (max-width: $tablet-h) {
            gap: 2rem;
         }
        
        .head {
            max-width: 50rem;

            @media only screen and (max-width: $tablet-v) {
                max-width: 30rem;
             }
        }

        @media only screen and (max-width: $tablet-v) {
           flex-direction: column;
           margin-bottom: 2rem;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
            @media only screen and (max-width: $tablet-v) {
                flex-direction: column;
                margin-bottom: 0rem;
             }


            .caption {

                @media only screen and (max-width: $tablet-v) {
                    align-items: flex-start;
                    padding: 5vw;
                 }

                div {
                    display: flex;
                    flex-direction: column;
                 }
            }
        }

        figure {
            width: 50%;
            overflow: hidden;
            position: relative;

            @media only screen and (max-width: $tablet-v) {
                width: 100%;
                margin: 0;
                height: 50vh;
                padding: 0;
             }
       
            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .caption {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 5vw 0 0;

            @media only screen and (max-width: $tablet-v) {
                width: 100%;
                padding: 5vw;
                align-items: flex-start;
             }

            .head {
                @media only screen and (max-width: $tablet-v) {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                 }

                span {
                    font-size: clamp(4.6rem, 12vw, 5.2rem);
                    line-height: 1;
                    font-weight: $font-normal;
                    letter-spacing: -1.4px;
                    color: #142828;
                    display:flex;

                    @media only screen and (max-width: $tablet-h) {
                        font-size: clamp(3rem, 12vw, 3.4rem);
                        line-height: 1;
                        letter-spacing: -1.31667px;
                     }
                }
            }

            p {
                max-width: 50rem;
                font-size: clamp(1.6rem, 12vw, 1.6rem);
                font-weight: $font-normal;
                line-height: 1.6;
                margin: 5rem 0;
                color: #5A6868;
            }
        }

        .date {
            font-size: 1.8rem;
            letter-spacing: -1.06875px;
            font-weight: $font-medium;
            margin-bottom: 2rem;
        }

        div {
            display: flex;
            flex-direction: column;

         }
    }

    &.blog {
        padding-bottom: 10rem;
        
        a {
            display: flex;
            flex-direction: column;
            @include fade-transition;

            &:hover {
                span, p {
                    color: $green;
                    @include fade-transition;
                }
            }
        }
         
        .item {
            align-items: flex-start;

            &:nth-child(even) {
                flex-direction: row-reverse;
                background: #F8F8F8;
                padding: 10rem 0;
                margin-bottom: 8rem;

                @media only screen and (max-width: $tablet-h) {
                    flex-direction: column;
                    padding: 4rem 0;
                    margin-bottom: 0;
                }

                figure {
                    margin-top: 0;
                    margin-left: 0;
                }
    
                .caption {
                    padding-left: 0;
                }
            }

            .blog-item {
                width: 50%;
                display: flex;
                flex-direction: column;
                margin-bottom: 8rem;

                @media only screen and (max-width: $tablet-h) {
                    width: 100%;
                   
                }

                &.small {
                    padding: 0 15vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media only screen and (max-width: $tablet-h) {
                        padding: 0;
                        margin: 0;
                    }

                    figure {
                        aspect-ratio: 2/2.4;
                       max-width: 40rem;
                       height: auto;
                       @media only screen and (max-width: $tablet-h) {
                        height: 50vh;
                    }
                    }
                    .caption {
                        padding-left: 0;
                        @media only screen and (max-width: $tablet-h) {
                            padding: 5vw;
                        }
                    }

                    .tags {
                        padding: 0;
                        @media only screen and (max-width: $tablet-h) {
                            padding-left: 5vw;
                        }
                    }
                }
            }
            
            figure {
                margin-right: 0;
                margin-top: 0;
                width: 100%;
            }
            
            .caption {
                width: 100%;
                padding-top: 2rem;
                padding-bottom: 2rem;
                padding-right: 0;
                align-items: flex-start;

                &.large {
                    padding-left: 4rem;
                    display: flex;

                    @media only screen and (max-width: $tablet-v) {
                        padding: 5vw;
                    }
                }

                p {
                    margin: 0;
                    padding: 0;
                    letter-spacing: -0.71px;

                    @media only screen and (max-width: $tablet-v) {
                       text-align: left;
                    }
                } 
            } 

            .tags {
                display: flex;
                margin-top: 2rem;
                padding-left: 4rem;
                flex-direction: row;
                @media only screen and (max-width: $tablet-v) {
                   width: 100%;
                   padding: 0 5vw;
                   margin: 0;
                 }

                .button {
                    margin-right: 1rem;
                }
            } 
        }
    } 

    &.detail {
        .item {
            @media only screen and (max-width: $tablet-v) {
                margin: 0;
            }
        } 
        .caption{

            p {
                font-size: clamp(1.6rem, 12vw, 2.4rem);
                line-height: 1.1;
                letter-spacing: -0.71px;
                padding: 0;
                text-indent: 0;
                margin-top: 0;
            }
        } 
    }
}

.card-items-blog {
    display:flex;
    width: 100%;
    flex-wrap: wrap;

    .item {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-bottom: 8rem;

        @media only screen and (max-width: $tablet-h) {
            width: 100%;
            margin-bottom: 5rem !important;
        }

        > div {
            @media only screen and (max-width: $tablet-h) {
                width: 100%;
            }
        }

        &.bg {
            background: #F8F8F8;
            padding: 10rem 0;
            margin-bottom: 8rem;

            @media only screen and (max-width: $tablet-h) {
                padding: 5rem 0;       
            }

            &.small {
                padding-top: 10rem;
                
                @media only screen and (max-width: $tablet-h) {
                    padding: 5rem 0;       
                }
            }
        }

        &.small {
            padding: 0 15vw;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            @media only screen and (max-width: $tablet-h) {
                padding: 0;
   
            }

            figure {
                aspect-ratio: 2/2.4;
               max-width: 40rem;
               height: auto;
               @media only screen and (max-width: $tablet-h) {
                height: 50vh;
                max-width: 100%;
            }
            }
            .caption {
                width: 100%;
                padding: 2rem 0;
                @media only screen and (max-width: $tablet-h) {
                    padding: 5vw;
                }
            }

            .tags {
                padding: 0;
                margin-top: 2rem;
                @media only screen and (max-width: $tablet-h) {
                    padding-left: 5vw;
                }
            }
        }

        figure {
            width:100%;
            height: 90vh;
            overflow: hidden;
            position: relative;
            margin-right: 10vw;

            @media only screen and (max-width: $tablet-v) {
                width: 100%;
                margin: 0;
                height: 50vh;
             }
       
            img {
                position: absolute;
                width: 100%;
                height: 160%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }

        .caption, .tags {
            padding: 2rem 4rem;

            a {
                margin-right: 1rem;
            }

            @media only screen and (max-width: $tablet-h) {
                padding: 5vw 0 0 5vw;
             }
        }

        .caption {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media only screen and (max-width: $tablet-h) {
                width: 100%;
                padding: 5vw;
            
             }

            .head {
                padding-left: 3rem;
                margin-left: -5rem;

                @media only screen and (max-width: $tablet-v) {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                 }

                span {
                    font-size: clamp(5.6rem, 12vw, 7.4rem);
                    line-height: 1;
                    font-weight: $font-normal;
                    letter-spacing: -4.31667px;
                    text-align: center;
                    display:flex;
                    text-transform: uppercase;

                    @media only screen and (max-width: $tablet-h) {
                        font-size: clamp(3.8rem, 12vw, 5rem);
                        line-height: 1;
                        letter-spacing: -2.31667px;
                     }

                    &:nth-child(2) {
                        padding-left: 1.4vw;
                    }
                }
            }

            p {
                max-width: 40rem;
                font-size: clamp(1.6rem, 12vw, 2rem);
                font-weight: $font-normal;
                line-height: 2rem;
                letter-spacing: -0.7125px;

                @media only screen and (max-width: $tablet-h) {
                    padding-left: 0;
                
                 }
            }
        }

        .date {
            font-size: 1.8rem;
            letter-spacing: -1.06875px;
            font-weight: $font-medium;
            margin-bottom: 2rem;
        }

        .tags {
            display: flex;
            @media only screen and (max-width: $tablet-v) {
                align-items: center;
             }
         }
    }
}


/*#region Accordion Menu */
.faq {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vw auto;

    @media only screen and (max-width: $tablet-v) {
       max-width: 100%;
       padding:6em 5vw;
     }

    small {
        @media only screen and (max-width: $tablet-v) {
            margin: 0;
          }
    }

    h6 {
        @media only screen and (max-width: $tablet-v) {
            margin-top: 2rem;
            margin-bottom: 4rem;
         }
    }

    
    .link {
        background: #e2ecea;;
        border: solid #1E1C21 .1rem;
        margin-bottom: 1rem;
        overflow: hidden;
        width: 100%;
        height: 10.6rem;
        display: flex;
        align-items: center;
        padding-left: 4rem;
        letter-spacing: -1.2375px;
        font-size: 2.2rem;
        font-weight: $font-medium;
        color: $dark;
        @include fade-transition;

        @media only screen and (max-width: $tablet-v) {
            padding-left: 2rem;
            font-size: 1.8rem;
         }

        svg {
            margin-left: 3rem;
        @include fade-transition;

        }
        &:hover {


            svg {
                margin-left: 4rem;
                @include fade-transition;
            }
        }
    }
}

.accordion-menu {
    width: 100%;

    li {
        background: #e2ecea;;
        border: solid #1E1C21 .1rem;
        margin-bottom: 1rem;
        overflow: hidden;

        &.open {

            .dropdownlink {
                i {
                    .icon-open {
                        display: none;
                    }

                    .icon-close {
                        display: flex;
                    }
                }
            }
        }
    }

    .dropdownlink {
        cursor: pointer;
        display: flex;
        font-size: clamp(1.8rem, 6vw, 2rem);
        color: $dark;
        position: relative;
        transition: all 0.4s ease-out;
        min-height: 9rem;
        align-items: center;
        padding: 4rem 6rem 4rem 4rem;

        @media only screen and (max-width: $tablet-v) {
            padding: 2rem 6rem 2rem 2rem;
            font-size: clamp(1.4rem, 6vw, 1.7rem);
          }

        i {
            position: absolute;
            height: 100%;
            display: flex;
            align-items: center;
            right: 4rem;
            font-size: 1.8rem;

            @media only screen and (max-width: $tablet-v) {
                right: 1rem;
              }
    
            svg {
                @media only screen and (max-width: $tablet-h) {
                    width: 3.2rem;
                    height: 3.2rem;
                }
            }

            .icon-open {
                display: flex;
            }

            .icon-close {
                display: none;
            }
        }
    }

    .ion-ios-arrow-down {
        right: 2rem;
        left: auto;
    }

}

.submenuItems {
    display: none;

    li {
        padding: 1rem 4rem 4rem;
        position: relative;
        border: none;
        margin: 0;
        @media only screen and (max-width: $tablet-h) {
            padding: 1rem 2rem 2rem;
        }
    }

    p {
        font-size: clamp(1.4rem, 6vw, 1.8rem);
        color: $dark;
        font-weight: $font-normal;
        line-height: 2.2rem;
        margin-right: 1.4rem;

        @media only screen and (max-width: $tablet-h) {
            font-size: clamp(1.4rem, 6vw, 1.6rem);
        }

        strong {
            font-weight: $font-medium;
        }
    }
}

/*#endregion */

.detail-content {
    padding: 0 15vw;

    @media only screen and (max-width: $tablet-v) {
        padding: 0 5vw;
     }

    > div {
        margin-bottom: 14rem;

        @media only screen and (max-width: $tablet-v) {
            margin-bottom: 8rem;
         }
    }

    h6 {
        font-size: clamp(4.8rem, 12vw, 5rem);
        margin-bottom: 4rem;
        letter-spacing: -.2rem;
    } 

    p {
        font-size: clamp(1.6rem, 12vw, 2.4rem);
        line-height: 1.3;
        letter-spacing: -0.5px;
        padding: 0;
        text-indent: 0;
        margin-top: 0;

        strong {
            font-weight: $font-medium;
        }
    }

    &.doc {
        > div {
            margin-bottom: 8rem;
        }
        ol {
            display: list-item;
            padding-left: 2rem;
            margin: 2rem 0;
            li {
                font-size: clamp(1.6rem, 12vw, 2.4rem);
                line-height: 1.3;
                letter-spacing: -0.5px;
                list-style: circle;
                padding: .5rem 0;
            }
        }
        p {
            margin-bottom: 2rem;
        }
    }

    a {
        color: $green;
        text-decoration: underline;
    }

    table {
        width: 100%;
        margin: 18px 0;
        text-align: left;
        font-size: 15px;
        line-height: 1.5;
        border: 1px solid #ccc;
        border-collapse: collapse;

        tr {
            margin-bottom: 2px;
        } 

        th {
            background-color: #eee;
            padding: 1rem 0 1rem 1rem;
        } 

        td {
            padding: 1rem 0 1rem 1rem;
        }
    } 

    .bottom {
        display: flex;
        flex-direction: column;

        h6 {
            width: 100%;
            text-align: center;
        }
        
        p {
            max-width: 80%;

            @media only screen and (max-width: $tablet-v) {
                max-width: 100%;
            }
        }
    }
}


.detail-info {
    background: #F8F8F8;
    padding: 5vw;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $tablet-v) {
        padding: 6rem 5vw;
    }

    .tags {
        display: flex;
        @media only screen and (max-width: $tablet-v) {
            width: 100%;
            flex-wrap: wrap;
        }
        .button {
            margin-right: 1rem;

            @media only screen and (max-width: $tablet-v) {
                margin-bottom: 1rem;
            }
        }
    } 

    .share {
        margin-top: 6rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        @media only screen and (max-width: $tablet-v) {
            margin-top: 3rem;
        }

        span {
            font-size: clamp(1.6rem, 12vw, 2rem);
        }

        .icons {
            width: 26rem;
            padding: 0 1.2rem;
            display: flex;
            justify-content: space-between;
            margin-top: 3rem;

            @media only screen and (max-width: $tablet-v) {
                width: 26rem;
            }
                
            i {
                width: 5.8rem;
                height: 5.8rem;
                background: $green;
                border:solid transparent .1rem;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                @include fade-transition;

                &:hover {
                    background: $white;
                    border:solid $green .1rem;
                    @include fade-transition;

                    svg {
                        fill: $green;
                    }
                }

                svg {
                    fill: $white;
                } 
            }
        }
    }
}


.contact {
    text-align: center;
    padding: 0 0 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        h2 {
            font-size: clamp(4rem, 12vw, 6rem);
            margin-bottom: 2rem;
            font-weight: $font-medium;

            @media only screen and (max-width: $tablet-v) {
                font-size: clamp(2rem, 12vw, 4rem);
            }
        }
    
        span, a {
            font-size: clamp(2rem, 12vw, 2.4rem);
            margin-bottom: 2rem;

            @media only screen and (max-width: $tablet-v) {
                font-size: clamp(1.8rem, 12vw, 2rem);
            }
        }
    
        a {
            color: $green;
            
            &.underline {
                text-decoration: underline;
            }
        }
    }

}