
@import "../base/base";
@import "slider";
@import "cards";
@import "components";


.split-line,
.split-parent,
.textanimated {
    overflow: hidden;
}

figure {
    position: relative;
    overflow: hidden;
}

.start {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: $tablet-h) {
        height: 70vh;
    }

    &:before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba($dark, .40);
        z-index: 1;
    }

    .button-content {
        width: 100%;
        padding: 0 2rem;
        font-size: 2rem;
        background: $blue;
        color: $white;
        writing-mode: vertical-rl;
        display: flex;
        align-items: center;
        padding: 6rem 0;

        @media only screen and (max-width: $desktop-sm) {
            display: none;
        }
    }

    .video {
        inset: 0;
        height: 100vh;
        position: absolute;
        overflow: hidden;
        z-index: 0;

        &::before {
            content: '';
            position: absolute;
            background: rgba($dark, .30);
            inset: 0;
            z-index: 1;
        }

        video {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
}

.content-captions {
    display: flex;
    min-height: 10rem;
    margin-bottom: 7rem;
    position: relative;

    @media only screen and (max-width: $tablet-h) {
        flex-direction: column;
        min-height: auto;
    }

    &.type-1 {
        margin-bottom: 0;
    }

    .left {
        width: 67%;
        background: $blue-2;
        padding: 10rem;

        @media only screen and (max-width: $desktop-sm) {
            padding: 10rem 4rem;
        }
        
        @media only screen and (max-width: $tablet-h) {
            width: 100%;
            padding: 4rem 2rem;
        }

        span {
            max-width: 70%;

            @media only screen and (max-width: $desktop) {
                max-width: 80%;
            }

            @media only screen and (max-width: $tablet-h) {
                max-width: 90%;
             }

             @media only screen and (max-width: $tablet-v) {
                max-width: 100%;
             }
        }

        a {
            color: $blue-3;
            @include fade-transition;

            &:hover {
                @include fade-transition;
                color: $white;
            }
        }

        .table {
            display: flex;
            flex-direction: column;

            .items {
                display: flex;
                justify-content: space-between;

                @media only screen and (max-width: $tablet-v) {
                    flex-direction: column;
                }

                &:first-child {
                    margin-bottom: 16rem;

                    @media only screen and (max-width: $tablet-v) {
                        margin-bottom: 0;
                    }
                }
                
                .item {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    color: $blue-3;

                    @media only screen and (max-width: $tablet-v) {
                        width: 100%;
                        margin-bottom: 4rem;
                    }

                    small {
                        font-size: 1.8rem;
                        margin-bottom: 4rem;

                        @media only screen and (max-width: $tablet-v) {
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }

        .social {
            display: flex;
            gap: 1rem;

            li {
                a {
                    width: 4rem;
                    height: 4rem;
                    background: $blue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    @include fade-transition;

                    &:hover {
                        @include fade-transition;
                        background: $white;
                    }
                    
                    svg {
                        width: 2rem;
                        color: $blue-2;
                    }
                }
            }
        }
    }  
    
    .right {
        width: 33%;
        background: $blue-1;
        padding: 7rem 10rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 6rem;

        @media only screen and (max-width: $desktop-sm) {
            padding: 7rem 4rem;
        }

        @media only screen and (max-width: $tablet-v) {
            width: 100%;
        }

        @media only screen and (max-width: $desktop) {
            padding: 4rem 2rem;
         }

        img {
            width: 36rem;

            @media only screen and (max-width: $desktop) {
                width: 25rem;
            }

            @media only screen and (max-width: $tablet-h) {
                width: 20rem;
             }
        }

        p {
            font-size: 2rem;
            color: $white;

            @media only screen and (max-width: $desktop) {
                font-size: 1.6rem;
            }
        }
    }  

    .map {
        width: 33%;
        background: $blue;
        position: relative;
        overflow: hidden;

        @media only screen and (max-width: $tablet-h) {
            width: 100%;
            height: 40rem;
        }

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}

.content-image-caption {
    border-top: solid $border .1rem;
    padding-top: 7rem;
    margin-bottom: 12rem;

    @media only screen and (max-width: $tablet-h) {
        margin-bottom: 8rem;
    }

    .headline {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;

        small {
            font-size: 2.6rem;
            margin-bottom: 6rem;
    
            @media only screen and (max-width: $desktop) {
                font-size: 1.8rem;
             }
        }
    
        span {
            max-width: 80rem;
            font-size: 4rem;
            color: #848699;
            display: block;
            margin-bottom: 6rem;

            @media only screen and (max-width: $desktop) {
                font-size: 3.4rem;
             }

             @media only screen and (max-width: $desktop-sm) {
                font-size: 2.6rem;
                max-width: 60rem;
             }

             @media only screen and (max-width: $tablet-v) {
                font-size: 2rem;
                max-width: 30rem;
             }
        }
    }

    figure {
        margin-top: -4rem;
    }
}

.content-career {
    margin: 10rem 0;
    padding: 10rem 0;
    background: $blue-1;

    @media only screen and (max-width: $tablet-v) {
        margin: 6rem 0;
        padding: 6rem 0;
     }

    .head {
        max-width: 90rem;

        @media only screen and (max-width: $tablet-h) {
            max-width: 70rem;
         }
    }

    .items {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @media only screen and (max-width: $tablet-v) {
            flex-direction: column;
            gap: 4rem;
        }
        
        @media only screen and (max-width: $tablet-v) {
            justify-content: flex-start;
        }
    }

    .left {
        width: 100%;
        display: flex;
        flex-direction: column;

        .caption {
            max-width: 40rem;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-bottom: 8rem;
            margin-right: 8rem;
            margin-top: 2rem;

             @media only screen and (max-width: $tablet-v) {
                max-width: 100%;
                margin-right: 0;
                margin-top: 4rem;
                margin-left: 8rem;
             }

            p {
                font-size: 2.4rem;
                line-height: 1.4;
                color: $white;
                margin-bottom: 4rem;

                @media only screen and (max-width: $desktop) {
                    font-size: 1.8rem;
                 }

                 @media only screen and (max-width: $tablet-v) {
                    font-size: 1.5rem;
                 }
            }

            a {
                width: max-content;
            }
        }

        .images {
            width: 80rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-left: auto;
            gap: 4rem;

            @media only screen and (max-width: $desktop-sm) {
                width: 60rem;
             }

            @media only screen and (max-width: $tablet-h) {
                width: 50rem;
                gap: 4rem;
             }

             @media only screen and (max-width: $tablet-v) {
                width: 100%;
             }

             .icon {
                margin-right: 4rem;

                @media only screen and (max-width: $desktop) {
                    margin-left: 2rem;
                    margin-right: 2rem;
                 }
             }
        }
    }

    .right {
        max-width: 60rem;
        width: 100%;

        @media only screen and (max-width: $tablet-h) {
            width: 100%;
         }

         @media only screen and (max-width: $tablet-v) {
            max-width: 100%;
        }

         img {

            @media only screen and (max-width: $tablet-v) {
                height: 30rem;
                object-fit: cover;
                object-position: center;
             }
         }
    }
}

.content-investor {
    margin-bottom: 7rem;
    display: flex;

    @media only screen and (max-width: $tablet-v) {
        flex-direction: column-reverse;
        gap: 6rem;
     }

    figure {
        width: 40%;
        flex-shrink: 0;

        @media only screen and (max-width: $tablet-v) {
            width: 100%;
         }
    }

    .content {
        width: 100%;
        padding-left: 10rem;

        @media only screen and (max-width: $tablet-v) {
            padding-left: 0;
         }

         small {
            margin-bottom: 0;
         }
        
        ul {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            margin: 6rem 0;

            li {
                &:hover {
                   a {
                        @include fade-transition;
                        background: $blue-2;

                        i {
                            @include fade-transition;
                            opacity: 1;
                       }
                   }
                }
                a {
                   height: 9rem;
                   background: $blue-1;
                   display: flex;
                   align-items: center;
                   padding: 0 2rem;
                   gap: 2rem;
                   font-size: 3rem;
                   color: $blue-3;
                   @include fade-transition;

                   @media only screen and (max-width: $desktop) {
                        font-size: 2.4rem;
                    }

                    @media only screen and (max-width: $tablet-v) {
                        font-size: 2rem;
                     }

                   i {
                        margin-left: auto;
                        opacity: 0;
                        @include fade-transition;
                   }
                }
            }
        }
    }
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 12rem;

    @media only screen and (max-width: $tablet-h) {
        margin-top: 6rem;
    }

    .image {
        grid-column: span 5;
        grid-row: span 2;

        @media only screen and (max-width: $tablet-v) {
            grid-column: span 12;
        }

        figure {
            position: relative;
            z-index: 2;
        }
    }

    .item-1 {
        grid-column: span 7;
        color: $white;

        @media only screen and (max-width: $tablet-v) {
            grid-column: span 12;
        }

    }

    .item-2 {
        grid-column: span 7;
        position: relative;
        color: $dark;

        @media only screen and (max-width: $tablet-v) {
            grid-column: span 12;
        }
        
        &::before {
            content: '';
            background: $white;
            position: absolute;
            height: 100%;
            left: -200%;
            right: -200%;
            bottom: -1rem;
            z-index: -1;

            @media only screen and (max-width: $tablet-v) {
                bottom: 0;
                left: -2rem;
                right: -2rem;
            }
        }
    }

    .item {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media only screen and (max-width: $tablet-v) {
            padding: 4rem 0;
        }

        p {
            margin-left: 20rem;
            font-size: 2.2rem;
            line-height: 1.4;

            @media only screen and (max-width: $desktop) {
                font-size: 1.6rem;
             }

             @media only screen and (max-width: $desktop-sm) {
                margin-left: 10rem;
             }

             @media only screen and (max-width: $tablet-v) {
                margin-left: 0;
            }
        }
    }
}

.privacy {
    display: flex;
    flex-direction: column;
    margin: 14rem 0;
    gap: 10rem;

    @media only screen and (max-width: $desktop) {
        margin: 8rem 0;
     }

     @media only screen and (max-width: $desktop-sm) {
        margin: 4rem 0;
     }

    .item {
        display: flex;
        justify-content: space-between;

        span {
            font-size: 3.8rem;
        }

        .text {
            width: 60rem;

            @media only screen and (max-width: $desktop) {
                width: 45rem;
            }

            p {
                font-size: 2.2rem;
                line-height: 1.4;
                color: #545672;

                @media only screen and (max-width: $desktop) {
                    font-size: 1.6rem;
                }
            }
        }
    }

    .text-content {

        h4 {
            font-size: clamp(2.4rem, 12vw, 2.8rem);
            font-weight: $font-medium;
            color: #042D56;
            letter-spacing: -0.2px;
            margin-top: 6rem;
            margin-bottom: 1rem;
    
            &:first-child {
                margin-top: 0;
                margin-bottom: 1rem;
            }
        }
    
        h3 {
            font-size: clamp(2rem, 12vw, 2.4rem);
            letter-spacing: 0;
            font-weight: $font-medium;
            margin-top: 8rem;
            margin-bottom: 4rem;
    
            @media only screen and (max-width: $tablet-v) {
                font-size: clamp(1.7rem, 12vw, 2rem);
                margin-top: 4rem;
            }
        }
    
        p {
            font-size: clamp(1.6rem, 12vw, 1.8rem);
            margin-bottom: 2rem;
            line-height: 2.6rem;

            @media only screen and (max-width: $tablet-v) {
                font-size: clamp(1.4rem, 12vw, 1.6rem);
            }
    
            strong {
                font-weight: $font-medium;
            }
        }
    
        ul,
        ol {
            display: list-item;
            padding-left: 2rem;
            margin-bottom: 6rem;
    
            li {
                font-size: clamp(1.6rem, 12vw, 1.8rem);
                list-style: circle;
                padding: 1rem 0;
    
                align-items: center;
            }
        }
    
        .table {
            padding: 0;
            margin-bottom: 6rem;
    
            tbody {
                tr {
                    margin-bottom: 1rem;
                    width: 100%;
                    background-color: #FAFAFA;
                }
    
                td {
                    font-size: clamp(1.6rem, 12vw, 1.8rem);
                    padding: 1rem;
                    line-height: 2rem;
                    max-width: 70rem;
    
                    @media only screen and (max-width: $tablet-v) {
                        font-size: clamp(1.2rem, 12vw, 1.3rem);
                        padding: 1rem;
                    }
    
                    @media only screen and (max-width: $phone) {
                        max-width: 6rem;
    
                    }
    
                    strong {
                        @media only screen and (max-width: $phone) {
                            overflow-wrap: anywhere;
                        }
                    }
                }
            }
        }
    
        a {
            text-decoration: underline;
            @include fade-transition;
            overflow-wrap: break-word;
    
            &:hover {
                color: #4797e7;
            }
        }
    }

    table {
        width: 100%; 
    }

    a {
        color: $dark;
    }
}


.news-detail {
    max-width: 120rem;
    margin: auto;
    padding-top: 6rem;

    figure {
        position: relative;

        img {
            border-radius: 1rem;
            height: 60rem;
            object-fit: cover;

            @media only screen and (max-width: $tablet-h) {
                height: 30rem;
            }
        }
    }

    article {
        padding: 4rem 8rem 0;

        @media only screen and (max-width: $tablet-h) {
            padding: 4rem 0 0;
        }

        span {
            font-size: 3rem;
            margin-bottom: 4rem;
            display: block;

            @media only screen and (max-width: $tablet-h) {
                font-size: 2.4rem;
            }
        }

        p {
            font-size: 2rem;
            line-height: 1.4;

            @media only screen and (max-width: $tablet-h) {
                font-size: 1.8rem;
            }
        }
    }

    .info-bar {
        max-width: 120rem;
        padding: 0 1.4rem;
        position: relative;
        margin: auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        height: 10rem;
        border-bottom: solid $border .1rem;
        font-size: 1.8rem;
    
        @media only screen and (max-width: $desktop) {
            font-size: 1.6rem;
        }
    
        @media only screen and (max-width: $tablet-h) {
            padding: 0 1.4rem;
            font-size: 1.4rem;
        }
    
        @media only screen and (max-width: $tablet-v) {
            height: auto;
            padding: 1.4rem 0;
            font-size: 1.3rem;
            gap: 2rem;
        }
    
        .left {
            display: flex;
            align-items: center;
            gap: 6rem;
    
            @media only screen and (max-width: $tablet-v) {
                width: 100%;
                justify-content: space-between;
            }

            .date {
                @media only screen and (max-width: $tablet-v) {
                    width: 12rem;
                }
            }
        }

        .social {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-left: auto;
    
            @media only screen and (max-width: $tablet-v) {
                gap: 1rem;
            }
            
            ul {
                display: flex;
                gap: 1rem;
    
                li {
                    &:hover {
                        a {
                            i {
                                background: $dark;
                                @include fade-transition;
    
                                svg {
                                    fill: $black;
                                    @include fade-transition;
                                }
                            }
                        }
                    }
                    a {
                        i {
                            width: 4rem;
                            height: 4rem;
                            background: $dark;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 100vmax;
                            @include fade-transition;
    
                            @media only screen and (max-width: $tablet-v) {
                                width: 3.4rem;
                                height: 3.4rem;
                            }
    
                            svg {
                                width: 1.8rem;
                                fill: $white;
                                @include fade-transition;
                            }
                        }
                    }
                }
            }
        }
    }
    
}