@import "../base/base";

$container: 108rem;
$gutter: 1rem;

$desktop: 1920px;
$desktop-sm: 1370px;
$tablet-h: 1024px;
$tablet-v: 768px;
$phone: 648px;

//Grid System
$gap: 1rem;

section {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 9rem;

  @media only screen and (max-width: $tablet-h) {
    padding-top: 0;
  } 
}

.container {
  max-width: 140rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 10rem;

  @media only screen and (max-width: $desktop) {
    max-width: 100%;
  } 
}

[class*="col-"] {
  display: grid;
  gap: $gap;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $gap;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;

  @media only screen and (max-width: $desktop-sm) {
    grid-column: span 4;
  }

  @media only screen and (max-width: $tablet-h) {
    grid-column: span 6;
  }

  @media only screen and (max-width: $phone) {
    grid-column: span 12;
  }
}

.col-4 {
  grid-column: span 4;

  @media only screen and (max-width: $tablet-h) {
    grid-column: span 6;
  }

  @media only screen and (max-width: $tablet-v) {
    grid-column: span 12;
  }
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;

  @media only screen and (max-width: $tablet-h) {
    grid-column: span 12;
  }
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 9;
}

.col-12 {
  grid-column: span 12;
}