
@import "../base/base";

.swiper-button-next,
.swiper-button-prev {
    width: 7rem;
    height: 7rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    outline: solid $white .1rem;
    @include fade-transition;

    // @media only screen and (max-width: $tablet-h) {
    //     display: none !important;
    // }

    @media only screen and (max-width: $tablet-h) {
        width: 6rem;
        height: 6rem;
    }

    &:hover {
        @include fade-transition;
    }

    &::after {
        display: none;
    }
}

.swiper-pagination-bullets {
    span {
        background: $dark;
    }
}

.start-slider {
    width: 100%;
    position: relative;
    overflow: hidden;

    .swiper-slide  {
        height: 100vh;

        @media only screen and (max-width: $tablet-h) {
            height: 70vh;
        }
        
        figure {

            img {
                width: 100%;
                height: 100vh;
                object-fit: cover;
            }
        }

        .caption {
            max-width: 120rem;
            position: absolute;
            inset: auto 10rem 10rem;

            @media only screen and (max-width: $desktop) {
                max-width: 90rem;
            }

            @media only screen and (max-width: $tablet-v) {
                inset: auto 2rem 10rem;
            }
            
            small {
                font-size: 2rem;
                color: $white;
                position: relative;
                margin-bottom: 3rem;
                display: flex;
                align-items: center;
                gap: 1.5rem;

                &::before {
                    content: ' ';
                    width: .5rem;
                    height: .5rem;
                    background: $white;
                    border-radius: 1rem;
                }
            }

            span {
                font-size: 9.4rem;
                color: $white;
                margin-bottom: 8rem;
                display: block;

                @media only screen and (max-width: $desktop) {
                    font-size: 7.2rem;
                }

                @media only screen and (max-width: $desktop-sm) {
                    margin-bottom: 4rem;
                }
                
                @media only screen and (max-width: $tablet-h) {
                    font-size: 4.6rem;
                }

                @media only screen and (max-width: $tablet-v) {
                    font-size: 3.4rem;
                    margin-bottom: 2rem;
                }
            }

            p {
                font-size: 4rem;
                color: $white;

                @media only screen and (max-width: $desktop) {
                    font-size: 3.2rem;
                }

                @media only screen and (max-width: $tablet-h) {
                    font-size: 1.8rem;
                }
            }
        }
    }

    .slide-control {
        width: 7rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;

        @media only screen and (max-width: $tablet-h) {
            bottom: 1rem;
            right: 1rem;
            flex-direction: row-reverse;
            width: 12rem;
        }
    }
}

.product-slider {
    .swiper-button-next,
    .swiper-button-prev {
        @media only screen and (max-width: $tablet-h) {
            display: none;;
        }
    }
}

.content-slider {
    padding-left: 10rem;

    @media only screen and (max-width: $desktop-sm) {
        padding-left: 4rem;
    }

    @media only screen and (max-width: $tablet-v) {
        padding-left: 2rem;
    }

    .slider {
        position: relative;
    }

    .content-headline {
        padding-right: 10rem;
        margin-bottom: 8rem;

        @media only screen and (max-width: $desktop-sm) {
            padding-right: 4rem;
        }

        @media only screen and (max-width: $tablet-v) {
            flex-direction: column;;
            padding-right: 2rem;
            margin-bottom: 0;
        }

        .head {
            span {
                max-width: 70rem;
            }
        }
    }

    .swiper-button-prev, .swiper-button-next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 9rem;
        height: 9rem;

        @media only screen and (max-width: $desktop-sm) {
            width: 7rem;
            height: 7rem;
        }
    }

    .swiper-button-prev {
        left: 4rem;
    }

    .swiper-button-next {
        right: 4rem;
    }

    .product-slider {
        @media only screen and (max-width: $tablet-v) {
            margin: 6rem 0;
        }
    }
}

