@import "../base/_base";


$font-family: 'AktivGrotesk';
$font-normal: normal;
$font-medium: 500;
$font-bold: bold;


$desktop: 1920px;
$desktop-sm: 1368px;
$tablet-h: 1024px;
$tablet-v: 768px;
$phone: 648px;

h1 {
    font-size: 8rem;
    font-weight: $font-normal;
    color: $white;

    @media only screen and (max-width: $desktop) {
        font-size: 6.4rem;
    }
}


.content-headline {
    color: $dark;
    display: flex;
    flex-direction: column;

    &.type-1 {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    &.type-2 {
        background: $blue-2;
    }

    &.type-2 {
        width: 100%;
        padding: 10rem 0 0;
        
        span {
            max-width: 200rem;
            width: 100%;
            margin: 0 auto;
            padding: 0 10rem;
        }
    }

    &.dark {
        color: $blue-3;
    }

    small {
        font-size: 2.6rem;
        margin-bottom: 5rem;

        @media only screen and (max-width: $desktop) {
            font-size: 1.8rem;
         }
    }

    span {
        font-size: 4rem;

        @media only screen and (max-width: $desktop) {
            font-size: 2.4rem;
         }
    }

    .head {
        display: flex;
        flex-direction: column;
    }
}

.custom-headline {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: url(/assets/images/main/custom-headline.jpg) no-repeat;
    background-size: cover;

    &.not-found {
        height: 90vh;
        display: flex;
        
        .headline {
            justify-content: space-between;

            .content {
                
                .left {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: 4rem;
                    margin-bottom: 8rem;

                    h1 {
                        margin-bottom: 0;
                    }
                }

                .icon {
                    img {
                        width: 40rem;

                        @media only screen and (max-width: $desktop) {
                            width: 30rem;
                        }
                    }
                }
            }
        }
    }

    &:before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(#0A0E35, .90);
    }

    .headline {
        position: relative;
        width: 100%;
        padding:14rem 14rem 8rem;
        display: flex;
        flex-direction: column;
      
        span {
            font-size: 3rem;
            color: $white;
        }

        h1 {
            margin-bottom: 2rem;
        }
    }

    .breadcrumb {
        display: flex;
        gap: 2rem;
        margin-bottom: 6rem;

        li {

            a, span {
                font-size: 2rem;
                color: $blue-3;
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
    }

    .filter {
        display: flex;
        gap: 1rem;
        margin-top: 4rem;

        li {
            a {
                display: flex;
                align-items: center;
                height: 6rem;
                padding: 0 6rem;
                color: $white;
                font-weight: $font-medium;
                border: solid $blue-3 .1rem;
                font-size: 2rem;
                @include fade-transition;

                @media only screen and (max-width: $desktop) {
                    height: 5rem;
                    padding: 0 4rem;
                    font-size: 1.6rem;
                }

                &:hover {
                    @include fade-transition;
                    background: $blue;
                    border: solid $blue .1rem;
                }
            }
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
    }
}

.content-caption-center {
    margin: 10rem 0;
    display: flex;
    justify-content: center;

    .caption {
        max-width: 60rem;
        width: 100%;
        margin: auto;
        text-align: center;

        span {
            font-size: 5rem;
            margin-bottom: 4rem;
            display: block;

            @media only screen and (max-width: $desktop) {
                font-size: 3.4rem;
             }
        }

        p {
            font-size: 2.2rem;
            line-height: 1.4;
            color: #545672;

            @media only screen and (max-width: $desktop) {
                font-size: 1.6rem;
             }
        }
    }
}