@import "../base/_base";

/*#region Fonts */
$font-normal: normal;
/*#endregion */


/*#region Device Resolution */

$desktop: 1920px;
$desktop-sm: 1368px;
$tablet-h: 1024px;
$tablet-v: 768px;
$phone: 648px;

/*#endregion */



h6 {
    font-size: clamp(4.8rem, 12vw, 7.4rem);
    line-height: 1;
    letter-spacing: -4.31667px;
    font-weight: $font-normal;
    margin: 8rem 0;
    @media only screen and (max-width: $tablet-h) {
        font-size: clamp(3.8rem, 12vw, 4rem);
        line-height: 1;
        letter-spacing: -2.31667px;
        font-weight: normal;
     }
}


h3 {
    font-size: clamp(2rem, 12vw, 3rem);
    line-height: 1;
    letter-spacing: -.80px;
    font-weight: $font-medium;
    margin-bottom: 2rem;
}


.content-headline {
    color: $dark;
    display: flex;
    flex-direction: column;

    &.type-1 {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    &.dark {
        color: $blue-3;
    }

    small {
        font-size: 2.6rem;
        margin-bottom: 6rem;

        @media only screen and (max-width: $desktop) {
            font-size: 1.8rem;
         }
    }

    span {
        font-size: 4rem;

        @media only screen and (max-width: $desktop) {
            font-size: 3.4rem;
         }
    }

    .head {
        display: flex;
        flex-direction: column;
    }
}